@import "~office-ui-fabric-react/dist/sass/References.scss";

.listItem {
  min-height: 36px;
  line-height: 36px;
  cursor: pointer;

  > div {
    display: inline-block;
    margin-right: 10px;
  }

  img {
    margin-right: 5px;
    vertical-align: middle;
  }
}

.navLabel{
  position: relative;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    font-weight: 600;
    box-sizing: border-box;
    display: block;
    text-align: center;
    cursor: pointer;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 27px;
    height: 44px;
    color: rgb(0, 0, 0);
    background-color: rgb(237, 235, 233);
    width: 100%;
    line-height: 44px;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    outline: transparent;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    text-decoration: none;
    border-radius: 2px;
    overflow: hidden;
}

.treeSelector {
  display: inline-block;
  margin: 0 8px 0 4px;
  vertical-align: middle;
}

.itemLabel {
  position: absolute;
  height: 20px;
}

.itemSubLabel {
  position: relative;
  top: 20px;
  margin-bottom: 10px;
  font-size: 12px;
  color: #666666;
}

.itemMenu {
  position: absolute;
  margin-top: 10px;
}

.tree {
  padding-left: 20px;

  .treeEnabled,
  .treeDisabled {
    background-repeat: no-repeat;
    background-position: 30px center;
  }

  .treeEnabled {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAACzSURBVDhPY2AYNKCoqIgTiOcD8X8S8F6wB4Aa1IH4akNDw+mPHz++/E8EuHTp0jmQRSDNCcXFxa/XrVt3gAh9KEpgBvx/9OjRLVI1g9TDDYBp3rlz5//Kysr/IJoYgGEASPPatWsbQDQxAMOAbdu2gZ0FookBcAOePHlyhxgN6GqQY+Hdhg0bDpJqCNgAaDrQAnJuNDY2nvr06dMbYgw6e/bsabgBUEN4yEiJ2wdNViLfIQC3sTh2vtJcswAAAABJRU5ErkJggg==");
  }

  .treeDisabled {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAFMSURBVDhPzZPNSsNAFIULQqEQEPoSQqAg7gqC0HdwXxAElyYgBBGSZ+gDdOUyIauULATdKrgIKCKuQjbiDySCkNV4TrkzpJW2cefAxwwzc86de2em0/k3zXGcHpgC9Qeu5glAsAMefN+/K8vyVbVoWZbdMxDFY9d136Ioum6hW9iiDVSe588rxDXmJ+AAdAWOOVcbAy1O01R5nqfYoxVglyk+Hu7Z4FiwOcc1GBRMwQSnOAxDHz0jDyCwwCVQS3DO0gU0BkmSzG8A/UQiz7DxC5yLGQ1PwDeYGYOiKF6WarCPDUOJeor+A4z0m8P4SNaG+hY+4zi+aZh0scEBNeB41DTBuCcGjj6FjaM/BUFwW1XVO6vdMNiSdIzJLwN5TJZ+iSLQKYwbR9cmZyaFdX+JhZIiMue+cLFQxA0G22uusd/6I8OEb4LXRwZN4Q+3Ys8Mb9+nRgAAAABJRU5ErkJggg==");
  }

  label > span {
    padding-left: 0px;
  }
  .blankspace{
     padding-left:35px;

  }
}
