.header {
    background-color: #c00000;
    color: #fff;
    font-size: 20px;
    height: 35px;
    line-height: 35px;
    text-align: center;
  
    > span {
      margin-right: 5px;
    }
  
    button {
      color: #fff;
    }
  }